.category-tabs button {
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}
.category-tabs{

    display:flex;
    background-color: #1EBC9B;
    justify-content:center;

    gap:20px;

    padding:20px;
}