.logo {
    height: 60px;
    width: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    border-bottom: 1px solid #ccc;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 15px;
}